{% extends "layout.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid px-4">
        <h2 class="my-4">출고 작업</h2>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="my-1">
                            <i class="fa-solid fa-location-dot me-1"></i>
                            주소 작업
                        </div>
                    </div>
                    <form action="{% url 'separate_address' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body py-4">
                            <h4 class="small">한 문장의 주소를 City, Street, District로 분할하기 위한 작업입니다.</h4>
                            <h4 class="small">작업하고자 하는 엑셀을 첨부한 뒤 "시작" 버튼을 눌러주세요 :)</h4>
                            <div class="mt-4">
                                <select class="form-select form-select-sm mb-3" aria-label="shipping_company_name" name="shippingCompanyName" required>
                                    <option value="">홈사를 선택해주세요.</option>
                                    {% for item in shipping_company_name %}
                                        <option value="{{item.value}}">{{item.label}}</option>
                                    {% endfor %}
                                </select>
                                <input class="form-control form-control-sm" name="addressFile" id="formFileSm" type="file" required>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <button type="submit" class="btn btn-sm btn-secondary custom-btn-bg custom-btn-border">시작</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="my-1">
                            <i class="fa-solid fa-location-dot me-1"></i>
                            출고 작업
                        </div>
                    </div>
                    <form action="{% url 'convert_shipping_file' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body py-4">
                            <div class="mt-4">
                                <select class="form-select form-select-sm mb-3" aria-label="shipping_company_name" name="shippingCompanyName" required>
                                    <option value="">홈사를 선택해주세요.</option>
                                    {% for item in shipping_company_name %}
                                        <option value="{{item.value}}">{{item.label}}</option>
                                    {% endfor %}
                                </select>
                                <input class="form-control form-control-sm" name="rawFile" id="formFileSm" type="file" required>
                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <button type="submit" class="btn btn-sm btn-secondary custom-btn-bg custom-btn-border">시작</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            <div class="mb-4 pb-3 pe-3 show position-fixed bottom-0 end-0 z-index-99 col-xl-4">
                <div class="alert 
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        alert-danger
                    {% else %}
                        alert-success
                    {% endif %}
                    alert-outline alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell me-1"></i> 
                        <span class="small">{{ message.message }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
{% endblock %}
