{% extends "layout.html" %}
{% load static %}

{% block content %}
    <div class="container-fluid px-4">
        <h2 class="my-4">통합 출고 작업</h2>
        <div class="row">
            <div class="col-xl-6">
                <div class="card mb-4">
                    <div class="card-header">
                        <div class="my-1">
                            <i class="fa-solid fa-globe me-1"></i>
                            통합 출고 작업
                        </div>
                    </div>
                    <form method="post" enctype="multipart/form-data" id="jsonForm">
                        {% csrf_token %}
                        <div class="card-body py-4">
                            <h4 class="small">모든 Task 작업을 한번에 수행할 수 있는 작업입니다.</h4>
                            <div class="mt-4">
                                <div class="mb-3">
                                    <label for="shippingCompanyName" class="form-label"><span class="small">홈사 선택</span></label>
                                    <select class="form-select form-select-sm" id="shippingCompanyName" name="shippingCompanyName" aria-label="shipping_company_name" required>
                                        <option value="">홈사를 선택해주세요.</option>
                                        {% for item in shipping_company_name %}
                                            <option value="{{item.value}}">{{item.label}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="mb-3">
                                    <label for="rawFile" class="form-label"><span class="small">파일 선택</span></label>
                                    <input class="form-control form-control-sm" name="rawFile" id="rawFile" type="file" required>
                                </div>
                    
                                <!-- 상품 정보 추가 -->
                                <div class="d-flex justify-content-between">
                                    <label class="form-label"><span class="small">상품 정보 입력</span></label>
                                    <p class="item-container-add-text small mt-1" id="addItem">
                                        <u>상품 추가</u>
                                    </p>
                                </div>
                    
                                <div id="itemsContainer">
                                    <!-- 상품 정보 폼이 추가될 부분 -->
                                     
                                </div>

                            </div>
                        </div>
                        <div class="card-footer d-flex justify-content-end">
                            <button type="submit" class="btn btn-sm btn-secondary custom-btn-bg custom-btn-border">시작</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            let itemIndex = 0;

            // 상품 추가
            $("#addItem").click(function () {
                let itemHtml = `
                    <div class="p-3 border rounded mb-3 item">
                        <div class="mb-3">
                            <label class="form-label"><span class="small">상품코드</span></label>
                            <input class="form-control form-control-sm" name="itemCode" type="text" required>
                        </div>

                        <div class="mb-3">
                            <label class="form-label"><span class="small">본품 SKU</span></label>
                            <input class="form-control form-control-sm" name="mainSku" type="text" required>
                            <div class="form-check mt-2">
                                <input class="form-check-input toggleSubSku" name="isSubSkuExist" type="checkbox" id="toggleSubSku">
                                <label class="form-check-label" for="toggleSubSku">
                                    <span class="small">추가 구성품</span>
                                </label>
                            </div>
                        </div>

                        <div class="mb-3 subSkuSection" style="display: none;">
                            <label class="form-label"><span class="small">추가 구성품 SKU</span></label>
                            <div class="subSkuContainer">
                                <div class="subSkuBox">
                                    <div class="d-flex">
                                        <input class="form-control form-control-sm" name="subSku" type="text">
                                        <button type="button" class="btn btn-success btn-sm ms-3 addSubSku">
                                            <span class="px-1">+</span>
                                        </button>
                                    </div>
                                    <div class="form-check mt-2">
                                        <input class="form-check-input" type="checkbox" name="isZa04">
                                        <label class="form-check-label" for="isZa04">
                                            <span class="small">ZA04</span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-end">
                            <button type="button" class="btn btn-secondary btn-sm removeItem">삭제</button>
                        </div>
                    </div>
                `;
                $("#itemsContainer").append(itemHtml);
                itemIndex++;
            });

            // 체크박스 변경 시 추가 구성품 입력 필드 토글
            $(document).on("change", ".toggleSubSku", function () {
                let subSkuSection = $(this).closest(".item").find(".subSkuSection");
                if ($(this).is(":checked")) {
                    subSkuSection.show();
                } else {
                    subSkuSection.hide();
                }
            });


            // 추가 구성품 SKU 추가
            $(document).on("click", ".addSubSku", function () {
                let subSkuHtml = `
                <div class="subSkuBox">
                    <div class="d-flex mt-2">
                        <input class="form-control form-control-sm" name="subSku" type="text">
                        <button type="button" class="btn btn-danger btn-sm ms-3 removeSubSku">
                            <span class="px-1">-</span>
                        </button>
                    </div>
                    <div class="form-check mt-2">
                        <input class="form-check-input" type="checkbox" name="isZa04">
                        <label class="form-check-label" for="isZa04">
                            <span class="small">ZA04</span>
                        </label>
                    </div>
                </<div>
                `;
                $(this).closest(".subSkuContainer").append(subSkuHtml);
            });

            // 상품 삭제
            $(document).on("click", ".removeItem", function () {
                $(this).closest(".item").remove();
            });

            // 추가 구성품 SKU 삭제
            $(document).on("click", ".removeSubSku", function () {
                $(this).closest(".subSkuBox").remove();
            });

            // 폼 제출 시 데이터 처리
            $("#jsonForm").submit(function (event) {
                event.preventDefault(); // 기본 제출 방지

                if (itemIndex > 0) {
                    let items = [];
                    $("#itemsContainer .item").each(function () {
                        let itemCode = $(this).find('input[name="itemCode"]').val();
                        let mainSku = $(this).find('input[name="mainSku"]').val();
                        let isSubSkuExist = $(this).find('input[name="isSubSkuExist"]').is(":checked");
                        let subSkus = [];
                        $(this).find('.subSkuSection .subSkuBox').each(function () {
                            let subSku = $(this).find('input[name="subSku"]').val();
                            let isZa04 = $(this).find('input[name="isZa04"]').is(":checked"); // 사은품 체크
                            if (subSku.trim() !== "") {
                                subSkus.push({
                                    subSku: subSku,
                                    isZa04: isZa04
                                });
                            }
                        });
                        items.push({
                            item: itemCode,
                            sku: mainSku,
                            isSubSkuExist: isSubSkuExist,
                            subSku: subSkus
                        });
                    });

                    let shippingCompanyNameValue = $('#shippingCompanyName').val();

                    jsonData = {
                        items: items,
                        shippingCompanyNameValue: shippingCompanyNameValue

                    }

                    let formData = new FormData();
                    formData.append("jsonData", JSON.stringify(jsonData)); // JSON 데이터 추가

                    let rawFile = $("#rawFile")[0].files[0];
                    if (rawFile) {
                        formData.append("rawFile", rawFile); // 엑셀 파일 추가
                    }

                    fetch("/msk/convert/shipping-file", {
                        method: "POST",
                        headers: {
                            "X-CSRFToken": getCookie("csrftoken")
                        },
                        body: formData
                    })
                    .then(response => {
                        if (!response.ok) {  // 응답 상태가 200번대가 아닌 경우 (500 등의 오류)
                          return response.text();  // 오류 메시지를 텍스트로 읽기
                        }
                        return response.blob();  // 성공적인 응답은 파일 처리
                    })
                    .then(data => {
                        if (data instanceof Blob) {
                            const fileUrl = window.URL.createObjectURL(data);
                            const link = document.createElement('a');
                            link.href = fileUrl;
                            link.style.display = 'none';
                            link.download = 'shipping_file.xlsx';  // 다운로드할 파일 이름 설정
                            document.body.appendChild(link);
                            link.click();  // 다운로드 실행
                            link.remove();
                            window.URL.revokeObjectURL(fileUrl);  // URL 메모리 해제
                            alert('갓띠용~ 엑셀 다운로드가 완료되었습니다.');
                        } else {
                            // 서버 오류 메시지를 표시
                            alert('갓띠용~' + data);
                        }
                    })
                    .catch(error => {
                        alert('갓띠용~ 오류 발생 비버에게 문의하세요.');
                    });
                } else {
                    alert('갓땜~ 상품을 추가해야지~~');
                }
            });

            // CSRF 토큰 가져오기
            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    let cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        let cookie = cookies[i].trim();
                        if (cookie.startsWith(name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
        });
    </script>


    {% if messages %}
        {% for message in messages %}
            <div class="mb-4 pb-3 pe-3 show position-fixed bottom-0 end-0 z-index-99 col-xl-4">
                <div class="alert 
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        alert-danger
                    {% else %}
                        alert-success
                    {% endif %}
                    alert-outline alert-dismissible" role="alert">
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    <div class="alert-icon">
                        <i class="far fa-fw fa-bell me-1"></i> 
                        <span class="small">{{ message.message }}</span>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    
{% endblock %}
