{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Assist-Beaver</title>
        <link rel="icon" href="{% static 'assets/favicon.png' %}" type="image/x-icon">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<link href="{% static 'css/signin_styles.css' %}" rel="stylesheet" />
    </head>
    <body>
		<div class="container signin-container">
            <div class="row">
				<div class="col-md-6 overlay-panel">
					<div class="text-center mb-4">
						<img src="{% static 'assets/img/beaver-logo.png' %}" alt="logo" class="img-fluid " width="132" height="132" />
					</div>
                    <h1>Assist-Beaver</h1>
					<p>Let us help you with your work.</p>
                </div>
                <div class="col-md-6 signin-form">
                    <h1 class="mb-5">Login</h1>
                    <form action="{% url 'signin_view' %}" method="POST">
						{% csrf_token %}
                        <div class="form-group">
							<input placeholder="Email" type="email" name="email" required/>
                        </div>
                        <div class="form-group">
                            <input placeholder="Password" type="password" name="password" required/>
                        </div>
						<div class="text-center my-5">
							<button type="submit" id="submitBtn" >Login</button>
						</div>
						{% if messages %}
							{% for message in messages %}
								<p class="text-center small" style="color: #754E1A;">{{message}}</p>
							{% endfor %}
						{% endif %}
                    </form>
                </div>
            </div>
        </div>
	</body>
</html>
